{% extends "base.html" %}
{% load static %}


{% block content %}
<div id="shopping-bag-container">
  <h1 class="text-center mb-4">Your Shopping Bag</h1>
{% if messages %}
  <div class="mt-3 d-flex justify-content-center">
    {% for message in messages %}
      {% if 'bag' in message.tags %}
        <div class="alert alert-success" role="alert">
          {{ message }}
        </div>
      {% endif %}
    {% endfor %}
  </div>
{% endif %}

  {% if bag_items %}
    <div class="shopping-bag-responsive">
     <table class="shopping-bag-table">
            <tbody>
            {% for item in bag_items %}
                <tr>
                    <td>
                      {% if item.product.image %}
                        <img src="{{ item.product.image.url }}" alt="{{ item.product.name }}" style="max-width: 60px; max-height: 60px;">
                      {% endif %}
                    </td>
                    <td>{{ item.product.name }}</td>
                    <td>£{{ item.product.price }}</td>
                    <td>{{ item.quantity }}</td>
                    <td>£{{ item.subtotal|floatformat:2 }}</td>
                    <td>
                      
                    <form method="POST" action="{% url 'remove_from_bag' item.key %}" class="remove-form">
                        {% csrf_token %}
                        <button type="submit" class="remove-shopping-cart-btn"><i class="fa-solid fa-trash"></i></button>
                    </form>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
    </table>
    
 </div>


<!-- Total Price -->
 <div class ="bag-total text-center mt-3">
  <h4>Total: £{{ total_price|floatformat:2 }}</h4>
  <a href="{% url 'checkout' %}" class="btn btn-success mt-3">Proceed to Checkout</a>
</div>
  {% else %}
    <p class="text-center">Your bag is empty.</p>
    <div class="text-center mt-4" >
      <a href="{% url 'products:supplements' %}" class="btn btn-outline-dark mb-3">Browse Products</a>
      <a href="{% url 'products:view_mealplan' %}" class="btn btn-outline-dark mb-3">Browse meal plans</a>
    </div>
  {% endif %}
</div>
{% endblock %}

