{% extends "base.html" %}
{% load static %}

{% block content %}
<!--Hero section-->
    <section id="hero">
        <h1>Your Next Step Toward Wellness</h1>
        <p>Explore supplements, meal plans and recipes designed to help you feel your best — every day.</p>
        
        <div class="hero-buttons mt-3">
            <a href="{% url 'account_signup' %}" class="btn btn-success">Become a Member</a>
            <a href="{% url 'products:supplements' %}" class="btn btn-outline-light">Browse supplements</a>
        </div>
    </section>

  <!--Why choose wellness section-->

  <section class="why-wellness py-5">
    <div class="container text-center">
      <h1 class="mb-5">Why Choose Wellness?</h1>
      <div class="row g-4">
        <div class="col-6 col-md-3">
          <i class="fas fa-heartbeat fa-3x mb-3 text-success"></i>
          <h4>Holistic Health</h4>
          <p>We care about your physical and mental well-being.</p>
        </div>
        <div class="col-6 col-md-3">
          <i class="fas fa-apple-alt fa-3x mb-3 text-success"></i>
          <h4>Nutrition Focus</h4>
          <p>Supplements and meal plans tailored to your lifestyle.</p>
        </div>
        <div class="col-6 col-md-3">
            <i class="fas fa-users fa-3x mb-3 text-success"></i>
            <h4>Community Driven</h4>
            <p>Be part of a supportive and inspiring community.</p>
        </div>
           <div class="col-6 col-md-3">
          <i class="fas fa-dumbbell fa-3x mb-3 text-success"></i>
          <h4>Active Living</h4>
          <p>Empowering you with workouts, tips, and motivation.</p>
        </div>
      </div>
    </div>
  </section>

    <!--Events section-->
    <section class="events-carousel-section">
  <div class="carousel-wrapper">
    <h2>Upcoming Events</h2>
    <div class="carousel-track">
      {% for event in events %}
  <div 
    class="event-slide" 
    {% if event.image %}
      style="background-image: url('{{ event.image.url }}');"
    {% endif %} 
    >
    <div class="event-content">
      <h2>{{ event.title }}</h2>
      <p>{{ event.description }}</p>
      <p><strong>Date:</strong> {{ event.date }}</p>
      <p><strong>Time:</strong> {{ event.time }}</p>
      <p><strong>Location:</strong> {{ event.location }}</p>
    </div>
  </div>
{% endfor %}
    </div>
    <button class="carousel-btn left">&#10094;</button>
    <button class="carousel-btn right">&#10095;</button>
  </div>
</section>


{% endblock %}