{% extends "base.html" %}
{% load static %}

{% block content %}
<!--Hero section-->
    <section id="hero">
        <h1>Your Next Step Toward Wellness</h1>
        <p>Explore supplements, meal plans and recipes designed to help you feel your best — every day.</p>
        
        <div class="hero-buttons mt-3">
            <a href="{% url 'account_signup' %}" class="btn btn-success">Become a Member</a>
            <a href="{% url 'products:supplements' %}" class="btn btn-outline-light">Browse supplements</a>
        </div>
    </section>

    <section class="events-carousel-section">
  <div class="carousel-wrapper">
    <h1>Upcoming Events</h1>
    <div class="carousel-track">
      {% for event in events %}
  <div 
    class="event-slide" 
    {% if event.image %}
      style="background-image: url('{{ event.image.url }}');"
    {% endif %} 
    >
    <div class="event-content">
      <h2>{{ event.title }}</h2>
      <p>{{ event.description }}</p>
      <p><strong>Date:</strong> {{ event.date }}</p>
      <p><strong>Time:</strong> {{ event.time }}</p>
      <p><strong>Location:</strong> {{ event.location }}</p>
    </div>
  </div>
{% endfor %}
    </div>
    <button class="carousel-btn left">&#10094;</button>
    <button class="carousel-btn right">&#10095;</button>
  </div>
</section>


{% endblock %}