{% extends "base.html" %}
{% load static %}

{% block content %}
<!--Hero section-->
    <section id="hero">
        <h1>Your Next Step Toward Wellness</h1>
        <p>Explore supplements, meal plans and recipes designed to help you feel your best — every day.</p>
        
        <div class="hero-buttons mt-3">
            <a href="{% url 'account_signup' %}" class="btn btn-success">Become a Member</a>
            <a href="{% url 'products:supplements' %}" class="btn btn-outline-light">Browse supplements</a>
        </div>

    </section>
{% endblock %}