{% extends "base.html" %}
{% block content %}
<div class="container py-5" id="dashboard-admin">
<a href="{% url 'home:master_dashboard' %}">Back to admin dashboard</a>

    <h1 class="mb-4 text-center">Event Manager</h1>
    <p class="text-center text-muted mb-4">Create, edit or delete events.</p>

    <div class="text-center mb-4">
        <a href="{% url 'home:event_create' %}" class="btn btn-success">+ Add Event</a>
    </div>

    <table class="table table-striped shadow-sm">
        <tr>
            <th>Title</th>
            <th>Date</th>
            <th>Location</th>
            <th>Actions</th>
        </tr>

        {% for item in items %}
        <tr>
            <td>{{ item.title }}</td>
            <td>{{ item.date }}</td>
            <td>{{ item.location }}</td>
            <td>
                <a href="{% url 'home:event_edit' item.id %}" class="btn btn-sm btn-primary">Edit</a>
                <a href="{% url 'home:event_delete' item.id %}" class="btn btn-sm btn-danger">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </table>

</div>
{% endblock %}
