{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container py-5" id="order-container">
    <h1 class="mb-4">Checkout</h1>

    <div class="row">
        <!-- Order form -->
        <div class="col-lg-6 mb-4">
            <form id="payment-form" method="POST" action="{% url 'checkout' %}">
                {% csrf_token %}
                {{ order_form|crispy }}
                
            <fieldset class="form-group mb-3">
            <legend class="fieldset-label small text-black px-2 w-auto"><h4>Card Details</h4></legend>
            <div id="card-element" class="form-control stripe-style-input"></div>
            <div id="card-errors" class="text-danger mb-3" role="alert"></div>
            <input type="hidden" name="client_secret" id="id_client_secret" value="{{ client_secret }}">
            </fieldset>
            <div id="id_stripe_public_key" class="d-none">{{ stripe_public_key }}</div>
            

        
                <button type="submit" class="btn btn-success btn-block mt-3">Place Order</button>
            </form>
        </div>

        <!-- Order summary -->
<div class="col-lg-6">
    <div class="p-4 border rounded bg-light">
        <h4>Order Summary</h4>

        <ul class="list-unstyled">
            {% for item in bag_items %}
            <li>
                {% if item.product.image %}
                    <img src="{{ item.product.image.url }}" alt="{{ item.product.name }}" style="max-width: 60px; max-height: 60px;">
                      {% endif %}
                {{ item.product.name }} × {{ item.quantity }} —
                <strong>€{{ item.subtotal|floatformat:2 }}</strong>
            </li>
            {% endfor %}
        </ul>

        <hr>

        <ul class="list-unstyled">
            <li>Items total: <strong>€{{ order_total|floatformat:2 }}</strong></li>
            <li>Delivery: <strong>€{{ delivery_cost|floatformat:2 }}</strong></li>
            <li class="mt-2">Total to pay: <strong>€{{ grand_total|floatformat:2 }}</strong></li>
        </ul>

        <p class="text-muted mt-2">You’ll receive a confirmation email after placing your order.</p>
    </div>
</div>

    </div>
</div>
{% endblock %}


