{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container py-5" id="recipe-detail">
  <div class="card shadow-lg border-0">
    <img src="{{ recipe.image.url }}" alt="{{ recipe.name }}"
         class="card-img-top img-fluid" style="height: 300px; object-fit: cover;">

    <div class="card-body">
      <h1 class="card-title text-center mb-3">{{ recipe.name }}</h1>
      <p class="text-center text-muted"><strong>Category:</strong> {{ category }}</p>

      <hr>

      <h4 class="mt-4">Description</h4>
      <p>{{ recipe.description }}</p>

      <h4 class="mt-4">Ingredients</h4>
      <ul class="mb-3 ps-3">
      {% for line in recipe.ingredients.splitlines %}
      <li>{{ line }}</li>
      {% endfor %}
      </ul>
     <h4 class="mt-4">Instructions</h4>
      <ol class="ps-3 mb-3">
      {% for step in recipe.instructions.splitlines %}
     {% if step %}
      <li class="mb-2">{{ step }}</li>
      {% endif %}
     {% endfor %}
</ol>

<hr>
<h4 class="mt-4">Reviews</h4>

{% if average_rating %}
<p><strong>Average rating:</strong> {{ average_rating|floatformat:1 }} / 5</p>
{% endif %}

{% for review in reviews %}
  <div class="mb-3 border-bottom pb-2">
    <strong>{{ review.user.username }}</strong> - {{ review.rating }} ★
    <p class="mb-1">{{ review.comment }}</p>
    <small class="text-muted">{{ review.created_at|date:"Y-m-d H:i" }}</small>

       {% if review.user == user %}
      <form method="POST" action="{% url 'delete_review' review.id %}" class="mt-2 d-inline">
        {% csrf_token %}
        <button type="submit" class="btn btn-sm btn-outline-danger">Delete</button>
      </form>
    {% endif %}
  </div>
{% empty %}
  <p>No reviews yet.</p>
{% endfor %}

{% if user.is_authenticated %}
  <hr>
  <h5>Leave a review</h5>
  <form method="POST" class="review-form">
    {% csrf_token %}
    <div class="mb-3">
  <label for="{{ form.rating.id_for_label }}" class="form-label">Rating</label>
  {{ form.rating }}
</div>
<div class="mb-3">
  <label for="{{ form.comment.id_for_label }}" class="form-label">Comment</label>
  {{ form.comment }}
</div>
    <button type="submit" class="btn btn-dark">Submit Review</button>
  </form>
{% else %}
  <p><a href="{% url 'account_login' %}">Log in</a> to leave a review.</p>
{% endif %}


      <div class="text-center mt-4">
        <a href="{% url 'recipes' %}" class="btn btn-outline-dark">← Back to Recipes</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
