{% extends "base.html" %}
{% load static %}

{% block extra_meta %}
<meta name="description" content="Cook delicious, healthy recipes for breakfast, lunch, and dinner. Explore meals designed to support your wellness journey.">
{% endblock extra_meta %}

{% block content %}

<div class="recipes-header">
  <img src="{% static 'images/recipe-header.webp' %}" alt="">
</div>

<div class="container py-5" id="recipes-container">
  <h1 class="mb-4 text-center">Recipes</h1>
  <p class="text-center">Discover delicious and nutritious recipes tailored
   for every part of your day — from energizing breakfasts to satisfying lunches 
   and wholesome snacks. Whether you're fueling your workout or simply eating well,
    our recipes are designed to support a balanced, healthy lifestyle.

  </p>

    <!-- Breakfast Section -->
    <h2 class="mt-5 text-center">Breakfast</h2>
    <div class="row">
      {% for breakfast in breakfasts %}
      <div class="col-md-6 col-lg-4 mb-4">
      <a href="{% url 'recipes:recipe_detail' category='breakfast' pk=breakfast.id %}" class="text-decoration-none text-dark">
        <div class="card h-100 shadow">
          <img src="{{ breakfast.image.url }}" class="card-img-top object-fit-cover" style="height: 180px;" alt="{{ breakfast.name }}">
          <div class="card-body">
            <h5 class="card-title">{{ breakfast.name }}</h5>
            {% if breakfast.review_count > 0 %}
          <p class="text-success small mb-0">Has {{ breakfast.review_count }} reviews </p>
          {% endif %}
            <p class="card-text">{{ breakfast.short_description }}</p>
          </div>
        </div>
      </a>
      </div>
      {% endfor %}
    </div>

    <!-- Lunch Section -->
  <h2 class="mt-5 text-center">Lunch</h2>
  <div class="row">
    {% for lunch in lunches %}
    <div class="col-md-6 col-lg-4 mb-4">
      <a href="{% url 'recipes:recipe_detail' category='lunch' pk=lunch.id %}" class="text-decoration-none text-dark">
      <div class="card h-100 shadow">
        <img src="{{ lunch.image.url }}" class="card-img-top object-fit-cover" style="height: 180px;" alt="{{ lunch.name }}">
        <div class="card-body">
          <h5 class="card-title">{{ lunch.name }}</h5>
            {% if lunch.review_count > 0 %}
          <p class="text-success small mb-0">Has {{ lunch.review_count }} reviews </p>
          {% endif %}
          <p class="card-text">{{ lunch.short_description }}</p>
        </div>
      </div>
      </a>
    </div>
    {% endfor %}
  </div>
  <!-- Snacks Section -->
  <h2 class="mt-5 text-center">Snacks</h2>
  <div class="row">
    {% for snack in snacks %}
    <div class="col-md-6 col-lg-4 mb-4">
      <a href="{% url 'recipes:recipe_detail' category='snack' pk=snack.id %}" class="text-decoration-none text-dark">
      <div class="card h-100 shadow">
        <img src="{{ snack.image.url }}" class="card-img-top object-fit-cover" style="height: 180px;" alt="{{ snack.name }}">
        <div class="card-body">
          <h5 class="card-title">{{ snack.name }}</h5>
            {% if snack.review_count > 0 %}
          <p class="text-success small mb-0">Has {{ snack.review_count }} reviews </p>
          {% endif %}
          <p class="card-text">{{ snack.short_description }}</p>
        </div>
      </div>
      </a>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}