{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container py-5" id="account-page">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <h2 class="mb-4 text-center">Reset your password</h2>
      <p class="text-center">We'll email you instructions to reset your password.</p>
      <form method="post" action="{% url 'account_reset_password' %}">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-success w-100 mt-3">Send Reset Email</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}
