{% extends "base.html" %}


{% block content %}
<div class="container py-5" id="dashboard-admin">

    <h1 class="mb-4">Manage {{ category|title }} Recipes</h1>

    <a href="{% url 'recipes:recipe_create' category %}" class="btn btn-success mb-3">
        + Add New Recipe
    </a>

        {% if messages %}
<div class="container mt-2 col-lg-6 mx-auto">
  {% for message in messages %}
    <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    </div>
  {% endfor %}
</div>
{% endif %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Image</th>
                <th>Name</th>
                <th style="width: 200px;">Actions</th>
            </tr>
        </thead>

        <tbody>
            {% for item in items %}
                <tr>
                    <td>
                {% if item.image %}
                    <img src="{{ item.image.url }}" alt="{{ item.name }}" 
                         style="height:50px; width: 50px;">
                {% else %}
                    <span class="text-muted">No image</span>
                {% endif %}
            </td>
                    <td>{{ item.name }}</td>
                    
                    <td>
                        <a href="{% url 'recipes:recipe_edit' category item.id %}" class="btn btn-sm btn-primary">Edit</a>
                        <a href="{% url 'recipes:recipe_delete' category item.id %}" class="btn btn-sm btn-danger">Delete</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <a href="{% url 'recipes:recipe_dashboard' %}" class="btn btn-outline-dark mt-3">← Back</a>
</div>
{% endblock %}
