{% extends "base.html" %}

{% block content %}
<div class="container py-5" id="dashboard-admin">
    
    <h1 class="mb-4 h1-dashboard">
        {% if form.instance.pk %}Edit{% else %}Create{% endif %}
        {{ category|title }} Recipe
    </h1>

    <form method="POST" enctype="multipart/form-data" class="card p-4 shadow-sm dashboard-form">
    {% csrf_token %}
    {{ form.as_p }}

    <button type="submit" class="btn btn-success dashboard-submit">
        {% if form.instance.pk %}Save Changes{% else %}Create Recipe{% endif %}
    </button>
    </form>


    <a href="{% url 'recipes:recipe_list' category %}" class="btn btn-outline-dark mt-3 d-block mx-auto text-center btn-back-dashboard">← Back</a>

</div>
{% endblock %}
