/*GLOBAL STYLE*/
html, body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}
body{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h1 {
  font-size: 2.5rem;
}

section h1 {
  font-size: 3rem;
}
/*Push down footer to the bottom*/
main {
  flex: 1;
}

/*NAVBAR STYLES*/
#navbar {
    background:#198754;
    padding-top: 10px;
    color: white;
}

/* Mobile input style */
#mobile-search-form {
  position: fixed !important;
  width: 100vw;
  top: 48px;
  left: 0;
  right: 0;
  padding: 0 2px; /*Some air on the sides*/
  z-index: 2000;
}
#mobile-search-form input {
    width: 100%;
    border-radius: 0;
    border: black;
    font-size: 0.9rem;
    padding: 3px;
    box-sizing: border-box;
}

/* Second navbar default (mobile hidden) */
.second-navbar {
    display: none;
    flex-direction: column;
    list-style: none;
    text-align: center;
    padding: 10px 0;
    margin: 0;
    color: white;
}

.second-navbar li {
    margin: 10px 0;
}

.second-navbar a {
    text-decoration: none;
    color: white;
    font-weight: 500;
}

.desktop-search-form {
    max-width: 300px;
}

.desktop-search-form input {
    font-size: 0.9rem;
}
#search-page{
  padding-top: 150px !important;
}
/*NAVBAR ENDS*/
/*Accounts*/

#account-page{
  padding-top: 100px !important; /*login.html*/
}

#profile-page{
  padding-top: 100px !important;
}
/*HERO SECTION*/ 
 #hero{
  background-image: url("/static/images/twofriendssmiling.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    text-align: center;
    height: 600px;
    padding-top: 50px;
    padding-bottom: 30px;
    margin-bottom: 50px;
    margin-top: 20px;
    justify-content: center;
    flex-direction: column;
    color: white;
 }
 .hero-buttons {
  display: flex;
   gap: 10px;
   align-items: center;
   flex-direction: column;
   justify-content: center;
}
.hero-buttons .btn {
  font-size: 1.25rem;
  padding: 10px 20px;
  border-radius: 0; 
}
/*Why choose wellness section*/
#argument-container{
  font-size: 1.5rem !important;
}

/*Why choose wellness section-ENDS*/
/*EVENT SECTION*/

.events-carousel-section {
  padding: 60px 20px;
  text-align: center;
}

.carousel-wrapper {
  position: relative;
  overflow: hidden;
  max-width: 1000px;
  margin: auto;
}

.carousel-track {
  display: flex;
  transition: transform 1s ease;
}

.event-slide {
  min-width: 100%;
  height: 400px;
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  align-items: flex-end;
  padding: 20px;
  color: white;
}

/* Adds a dark overlay to improve text readability on background images*/
.event-slide::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 0;
}

.event-content {
  position: relative;
  z-index: 1;
  text-align: left;
}

.carousel-btn {
  position: absolute;
  top: 50%;
  color: white;
  font-size: 3rem;
  background-color: transparent;
  border: none;
  padding: 1px;
  z-index: 2;
}

.carousel-btn.left {
  left: 10px;
}

.carousel-btn.right {
  right: 10px;
}



/*SUPPLEMENTS*/
#supplement{
  padding-top: 50px;
  text-align: center;
}
.supplement-header img {
  padding-bottom: 10px;
  width: 100%;
  height: 200px;
  display: block;
  object-fit: cover;
}
.supplement-list {
  padding: 10px 0 0 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 30px;
  margin: 40px auto;
 justify-content: center;
}

.supplement-card {
  border: 1px solid #b7e4c7;
  padding: 20px;
  text-align: left;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
  transition: transform 0.2s ease-in-out;
  width: 160px;
}

.supplement-card:hover {
  transform: translateY(-5px);
}

.supplement-image {
  max-width: 100%;
  height: auto;
  margin-bottom: 15px;
}

.supplement-title {
  font-size: 1.25rem;
  margin-bottom: 10px;
}

.supplement-description {
  color: #444;
  margin-bottom: 8px;
}

.supplement-price {
  color: red;
}


.add-to-cart-btn {
  display: inline-flex;
  background-color: green;
  color: white;
  width: 100%;
  padding: 5px 0;
  text-decoration: none;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.add-to-cart-btn:hover {
  background-color: #0fb674;
}

.moredetails-btn{
  display: inline-flex;
  background-color: transparent;
  border: 1px solid #000;
  color: black;
  padding: 5px 0;
  margin-top: 5px;
  width: 100%;
  text-decoration: none;
  font-weight: bold;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition: background-color 0.3s ease, transform 0.2s ease;
}
.moredetails-btn:hover {
  background-color: black;
  color: white;
}
/*MORE DETAILS IN SUPPLEMENT*/
.supplement-detail {
  margin-top: 130px;
  max-width: 800px;
  margin: 100px auto 40px auto;
  padding: 20px;
  text-align: left;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  border: 1px solid lightgray;
}

.supplement-detail img {
  max-width: 100%;
  height: auto;
  border-radius: 6px;
  margin-bottom: 20px;
}
.click-image{
  padding-top: 100px;
  max-width: 90vw;
  max-height: 90vh;
  object-fit: contain;
}

.supplement-detail h1 {
  font-size: 2rem;
  margin-bottom: 15px;
}

.supplement-detail p {
  font-size: 1rem;
  margin-bottom: 10px;
}
/*SUPPLEMENTS ENDS*/


/*MEAL PLAN*/
.meal-plan-container{   
  background: linear-gradient(135deg, #0bc52461, #01f736cb);         
  padding-top: 100px;
}
/* Meal Plan Section Styling */
.meal-plan-container .card {
    display: flex;
    flex-direction: column;
    height: 100%;
    border-radius: 0 !important;
    max-width: 80%;
    margin: auto;
}

.meal-plan-container .card-body {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 0 !important;
}

/* push down buy btn no matter what content */
.meal-plan-container .add-to-cart-btn {
    margin-top: 10px;
    align-self: flex-start;
     align-self: stretch;
    border-radius: 0 !important;
}
.card-title,
.card-text,
.mealplan-price {
  margin-bottom: 10px;
}

.add-to-cart-btn {
  margin-top: auto;
}
.mealplan-price{
  text-align: center;
  font-size: 2rem;
  color: red;
}
/*MEAL PLAN ENDS*/


/*SHOPPING BAG*/
#shopping-bag-container{
  padding-top: 100px;
  padding-bottom: 100px;
 
}
.shopping-bag-table tr {
  
  border-bottom: 1px solid #ccc;
}
.shopping-bag-table{
  background-color: transparent;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);

  margin: auto;
}
.shopping-bag-table td {
  padding: 0.5rem;
  width: 100px;
  color: gray;
}
.remove-form{
  background: transparent;
  border: none;
  padding: 0;
  margin: 0;
}
.remove-shopping-cart-btn {
  background-color: transparent;
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}
/*SHOPPING BAG ENDS*/

/*CHECK OUT*/
#order-container{
  padding-top: 100px !important;
}
#checkoutsuccess-page{
  padding-top: 200px !important;
}

/*INput fields in checkout*/
select, 
select option {
    color: #000000;
}

select:invalid,
select option[value=""] {
    color: #aab7c4 !important;
     padding-bottom: 3px;
}


/*Took from stripe docs*/
.StripeElement,
.stripe-style-input {
  box-sizing: border-box;
  height: 40px;
  padding: 10px 12px;
  border: 1px solid transparent;
  border-radius: 0px;
  background-color: white;
  box-shadow: 0 1px 3px 0 #e6ebf1;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus,
.stripe-style-input:focus,
.stripe-style-input:active {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

.stripe-style-input::placeholder {
    color: #aab7c4;
}

.fieldset-label {
    position: relative;
    right: .5rem;
}

#loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.9);
    width: 100%;
    height: 100%;
    z-index: 1050;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/*CHECKOUT ENDS*/

/*RECIPES PAGE*/
#recipes-container{
  padding-top: 10px !important;
}
.recipes-header {
  padding-top: 30px;
  width: 100vw;
  margin: 0;
}
.recipes-header img {
  width: 100%;
  height: 200px;
  display: block;
  object-fit: cover;
  margin: 0;
  padding: 0;
}

/*ABOUT PAGE*/
#about-hero{
  background-image: url('../images/abouthero.webp');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  min-height: 400px;
  padding-top: 200px !important;
}

.gallery-masonry {
  column-count: 1;
  column-gap: 15px;
}

.gallery-masonry img {
  width: 100%;
  margin-bottom: 10px;
  display: block;
  break-inside: avoid;
}

#contact{
  background-color: rgb(30, 35, 30) !important;
  color: white !important;
}

/*FOOTER*/
#footer {
  background: #198754;
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  list-style: none;
  color: white;
}
.footerheader a {
  text-decoration: none;
  color: inherit;
}

#footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
ul li a {
  text-decoration: none;   
  color: inherit;              
}
#footer .footer-form form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: white;
  padding: 15px;
  border-radius: 2px;
}

.newsletter-btn {
  background-color: #ff8800 !important;
  border-color: #ff8800 !important;
  color: white;
}

.newsletter-btn:hover {
  background-color: #e67600 !important;
  border-color: #e67600 !important;
}


/*MEDIA QUIRES*/
/* Desktop layout */
@media screen and (max-width: 350px){
  .supplement-card {
  width: 90%;
}
.shopping-bag-table td {
 font-size: smaller;
}
}

@media (min-width: 576px) {
  .gallery-masonry {
    column-count: 2;
  }
  .click-image{
  padding-top: 100px;
  max-width: 150vw;
  max-height: 150vh;
  object-fit: contain;
}
}

@media screen and (min-width: 768px) {
    .second-navbar {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 50px;
        background-color: transparent;
    }

    #hamburger-toggle,
    #mobile-search-toggle,
    #mobile-search-form {
        display: none !important;
    }

      #footer {
        flex-direction: row;
        align-items: flex-start;
        gap: 100px;
        justify-content: center;
        
  }

  #hero{
    height: 500px;
    flex-direction: column;
    text-align: left;
    margin-top: 120px;
    padding-left: 150px;
    padding-bottom: 70px;
 }
  .hero-buttons {
   justify-content: flex-start;
   flex-direction: row;
}


#supplement{
  margin-top: 50px;
}
.supplement-card {
    flex: 1 1 20%; 
    max-width: 20%;
    gap: 30px;
  }

  .supplement-detail {
    margin-top: 150px;
    text-align: left;
    padding: 40px;
  }

  .supplement-detail img {
    float: left;
    max-width: 300px;
    margin-right: 30px;
    margin-bottom: 0;
  }

  .supplement-detail h1,
  .supplement-detail p {
    margin-left: 340px;
  }

  .supplement-detail .add-to-cart-btn {
    margin-left: 340px;
    max-width: 250px;
  }
  #shopping-bag-container{
  padding-top: 150px;
  
}
.meal-plan-container{
  padding-top: 150px;
}
#order-container{
  padding-top: 150px !important;
}
#account-page{
  padding-top: 150px !important;
}
#profile-page{
  padding-top: 150px !important;
}
.recipes-header {
  padding-top: 120px;
}

#profile-page{
  max-width: 50% !important;
  width: 50% !important;
}
.review-form {
  width: 50%;

}
#about-hero{
  padding-top: 250px !important;
}
.gallery-masonry {
    column-count: 3;
  }

 #recipe-detail {
  padding-top: 150px !important;
}

}
#search-page{
  padding-top: 150px !important;
}



/*FOR LARGE SCREENS*/
@media (min-width: 992px) {
  .gallery-masonry {
    column-count: 4;
  }
}
/*FOR XL SCREENS*/
@media (min-width: 1200px) {
  .gallery-masonry {
    column-count: 5;
  }
}