{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="supplement-detail">
  <img src="{{ supplement.image.url }}" alt="{{ supplement.name }}">
  <h1>{{ supplement.name }}</h1>
  <p class="supplement-description">{{ supplement.description }}</p>
  <p class="supplement-price">Price: £{{ supplement.price }}</p>
   
  <form method="POST" action="{% url 'add_to_bag' %}">
    {% csrf_token %}
    <input type="hidden" name="product_id" value="{{ supplement.id }}">
    <input type="hidden" name="product_type" value="supplement">
    <input type="hidden" name="redirect_url" value="{{ request.path }}">
    <button type="submit" class="add-to-cart-btn">Buy now</button>
    </form>

</div>
{% endblock %}