{% extends "base.html" %}
{% load static %}

{% block extra_meta %}
<meta name="description" content="Discover our carefully selected range of supplements to support your health and well-being – no matter your lifestyle.">
{% endblock extra_meta %}

{% block content %}
<section id ="supplement">
<div class="supplement-header">
    <img src="{% static 'images/supplementhero.webp' %}" alt="A container of protein powder alongside snack bars branded with the word 'Wellness">
  <h1>All supplements </h1>
</div>
<ul class="supplement-list">
  {% for supplement in supplements %}
    <li class="supplement-card">
      <img src="{{ supplement.image.url }}" alt="{{ supplement.name }}" class="supplement-image">
      <h2 class="supplement-title">{{ supplement.name }}</h2>
      <p class="supplement-price">Price: £{{ supplement.price }}</p>
      
   <form method="POST" action="{% url 'add_to_bag' %}">
    {% csrf_token %}
    <input type="hidden" name="product_id" value="{{ supplement.id }}">
    <input type="hidden" name="product_type" value="supplement">
    <input type="hidden" name="redirect_url" value="{{ request.path }}">
    <input type="number" name="quantity" value="1" min="1" class="form-control mb-2">
    <button type="submit" class="add-to-cart-btn">Buy now</button>
    </form>

      <a href="{% url 'products:supplement_detail' supplement.pk %}" class="moredetails-btn">More details</a>
    </li>
  {% empty %}
    <li class="supplement-empty">No supplements available.</li>
  {% endfor %}
</ul>
</section>
{% endblock %}