{% extends "base.html" %}
{% load static %}

{% block extra_meta %}
<meta name="description" content="Explore details about {{ supplement.name }} – learn more about its benefits, ingredients, and how it supports your wellness goals.">
{% endblock extra_meta %}


{% block content %}
<div class="supplement-detail">
  <a href="{% url 'products:supplement_image' supplement.id %}">
  <img src="{{ supplement.image.url }}" alt="{{ supplement.name }}">
  </a>
  <h1>{{ supplement.name }}</h1>
  <p class="supplement-description">{{ supplement.description }}</p>
  <p class="supplement-price">Price: £{{ supplement.price }}</p>
   
  <form method="POST" action="{% url 'add_to_bag' %}">
    {% csrf_token %}
    <input type="hidden" name="product_id" value="{{ supplement.id }}">
    <input type="hidden" name="product_type" value="supplement">
    <input type="hidden" name="redirect_url" value="{{ request.path }}">
    
    <input type="number" name="quantity" value="1" min="1" class="form-control mb-2 quantity-input">
    <button type="submit" class="add-to-cart-btn-supplement-detail">Buy now</button>
    </form>

</div>
{% endblock %}